# Comment line immediately above ownership line is reserved for related other information. Please be careful while editing.
#ECCN:Open Source
#GUSINFO:Verification as a Service (VaaS),VaaS
* @demianbrecht
